<div class="cne-grid">
    {{ range first 4 .Pages }}
    <div class="cne-grid__item cne-grid__item--with-bottom">
        <div class="box-image-text blog">
            <div class="top">
                <div class="image" style="overflow:hidden">
                    {{ if isset .Params "banner" }}
                    <img src="{{ .Site.BaseURL}}{{ .Params.banner }}" class="img-responsive" alt="" >
                    {{ else }}
                    <img src="{{ .Site.BaseURL}}img/placeholder.png" class="img-responsive" alt="">
                    {{ end }}
                </div>
                <div class="bg"></div>
                <div class="text">
                    <p class="buttons">
                        <a href="{{ .Permalink }}" class="btn btn-template-transparent-primary"><i class="fa fa-link"></i> {{ i18n "readMore" }}</a>
                    </p>
                </div>
            </div>

            <div class="content">
                <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                <p class="intro">{{ printf "%s | %s" .Params.author .Params.publisher}}</p>
                <p class="intro" style="margin-bottom:0;">
                    {{ default (.Summary | truncate 100) .Params.summary }}
                </p>
                <div class="cne-grid__item__bottom">
                    <div class="read-more">
                      <a href="{{ .Permalink }}" class="btn btn-template-main">{{ i18n "continueReading" }}</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-image-text -->

    </div>
    {{ end }}

</div>